<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.digitopia.semibreve</string>
   <key>Program</key>
   <string>/Users/digitopia/Development/openFrameworks/apps/Gamult/start-semibreve</string>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>
